absl-py==2.3.1
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==4.5.2
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.4
async-timeout==5.0.1
attrs==25.3.0
audioread==3.0.1
babel==2.18.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.14.3
bleach==6.1.0
certifi==2022.12.7
cffi
charset-normalizer==2.1.1
click==8.1.8
cmake==3.25.0
coloredlogs==15.0.1
comm==0.2.3
contourpy==1.1.1
cryptography==46.0.7
cycler==0.12.1
Cython==3.2.4
debugpy==1.8.20
decorator==5.2.1
defusedxml==0.7.1
docker-pycreds==0.4.0
einops==0.8.1
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
filelock==3.16.1
flatbuffers==25.12.19
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec
future
gdown==5.2.1
gitdb==4.0.12
GitPython==3.1.46
google-auth==2.49.1
google-auth-oauthlib==1.0.0
grpcio==1.70.0
h11==0.16.0
h5py==3.6.0
hf-xet==1.4.3
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
humanfriendly==10.0
hydra-core==1.3.2
idna==3.4
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel==6.29.5
ipympl==0.9.3
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==8.1.8
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.14.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.3.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.14.2
jupyter_server_terminals==0.5.4
jupyterlab==4.3.8
jupyterlab_pygments==0.3.0
jupyterlab_server==2.28.0
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.11.0
lightning-utilities
lit==15.0.7
llvmlite==0.41.1
Markdown==3.7
MarkupSafe==2.1.5
matplotlib==3.7.5
matplotlib-inline==0.1.7
mistune==3.2.0
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.1.1
multidict==6.1.0
nbclient==0.10.1
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.1
ninja==1.13.0
notebook_shim==0.2.4
numba==0.58.1
numpy
oauthlib==3.3.1
omegaconf==2.3.0
onnxruntime==1.19.2
opencv-python==4.13.0.92
overrides==7.7.0
packaging
pandas==2.0.3
pandocfilters==1.5.1
parso==0.8.6
pathtools==0.1.2
pesq==0.0.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
pooch==1.8.2
prometheus_client==0.21.1
promise==2.3
prompt_toolkit==3.0.52
propcache==0.2.0
protobuf==3.20.1
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pybind11==3.0.3
pycparser
Pygments==2.19.2
pyloudnorm==0.1.1
pyparsing==3.1.4
pypesq @ https://github.com/vBaiCai/python-pesq/archive/master.zip#sha256=19d676b0341b69bfa149c89ad0db893e18aa80fe5f3b1556140357ec8dff72c8
pyroomacoustics==0.10.0
PySocks==1.7.1
pystoi==0.4.1
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
python_speech_features==0.6
pytorch-lightning
pytz==2026.1.post1
PyYAML
pyzmq==27.1.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.4
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.20.1
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.10.1
sdeint==0.3.0
seaborn==0.13.2
Send2Trash==2.1.0
sentencepiece==0.2.0
sentry-sdk==2.57.0
setproctitle==1.3.7
shortuuid==1.0.13
six
smmap==5.0.3
sniffio==1.3.1
sounddevice==0.5.5
soundfile==0.13.1
soupsieve==2.7
soxr==0.3.7
stack-data==0.6.3
sympy==1.13.3
tensorboard==2.14.0
tensorboard-data-server==0.7.2
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.2.1
tokenizers==0.20.3
tomli==2.4.1
torch==2.0.1+cu117
torch-ema==0.3
torch-pesq==0.1.2
torchaudio==2.0.2+cu117
torchinfo==1.8.0
torchmetrics
torchsde==0.2.6
torchtyping==0.1.5
torchvision==0.15.2+cu117
tornado==6.4.2
tqdm
traitlets==5.14.3
trampoline==0.1.2
transformers==4.46.3
triton==2.0.0
typeguard==2.13.3
typing_extensions==4.13.2
tzdata==2026.1
uri-template==1.3.0
urllib3==1.26.13
wandb==0.12.11
wcwidth==0.6.0
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
widgetsnbextension==4.0.15
yarl==1.15.2
yaspin==2.5.0
zipp==3.20.2
